.cards_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  align-items: center;
}
.profile_Card {
  position: relative;
}
.profile {
  width: 300px;
  background: linear-gradient(180deg, #f3f3f3 20%, #1c1b1bf0 20%);
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  color: #ffffff;
}
.profile:hover {
  transition: ease 0.3s;
  box-shadow: 7px 10px 5px 0px #00000038;
  transform: translateY(-20px);
}

.profile:hover .profileImage {
  transform: scale(0.47) translateY(-140px);
}
.profile:hover .icons_name_job {
  bottom: 0;
}

.profileImage {
  width: 100%;
  min-height: 100%;
  transition: ease 0.5s;
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
  z-index: 5;
}

.icons_name_job {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -100%;
  height: fit-content;
  text-align: center;
  padding: 20px 0px;
  z-index: 2;
  transition: ease 0.6s;
  text-transform: capitalize;
}

.name {
  font-weight: 700;
  font-size: 24px;

  margin-bottom: 15px;
}
.job-title {
  color: #ffffffd1;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-top: 20px;
}
.icons svg {
  font-size: 30px;
  transition: 0.5s ease;
  cursor: pointer;
}
.icons svg.twitter:hover {
  color: #3172ff;
  transform: rotate(360deg);
}
.icons svg.youtube:hover {
  color: #ff3131;
  transform: scale(1.1);
}
.icons svg.whatsapp:hover {
  color: #53fb0b;
  transform: rotate(360deg);
}
.icons svg.instagram:hover {
  color: #d061c6;
  transform: scale(1.1);
}
.bestFriend1,
.bestFriend3 {
  position: absolute;
  width: 50px;
  border-radius: 10px;
  bottom: 0;
  transform: scale(0);
  cursor: pointer;
}

.profile_Card:hover .bestFriend1,
.profile_Card:hover .bestFriend3 {
  transform: scale(1);
}
.profile_Card:hover svg.badge {
  opacity: 1;
}

.bestFriend1 {
  top: 5px;
  left: -30px;
  z-index: 10;
  transition: 1.2s 0.2s ease;
}
.bestFriend3 {
  bottom: 50px;
  z-index: 10;
  right: -30px;
  transition: 1s 0.3s ease;
}
svg.badge {
  position: absolute;
  top: 2px;
  right: 10px;
  opacity: 0;
  transition: ease 0.5s;
  font-size: 20px;
}
